<div class="rkzpage {{ page.header.layout_classes }}">

 <div class="rkzpage-inner" 
		 style="background-color: {{ page.header.bgcolor }};">
		<div class="rkzpage-innerinner">
      {% for image in page.media.images %}
        <img class="decorative-image" src="{{ image.url }}">
      {% endfor %}
      {% if page.collection('events') | length %}
      <div style="float: right; margin-top: 20px; background:rgba(255,255,255,0.5);">
        <ul style="list-style-type: none; margin: 0; padding: 0;">
        {% for p in page.collection('events') %}
          {% if p.header.date %}
            <li style="margin-left: 10px; margin-right: 10px;">
              <strong>{{ p.header.date|date('d-M Y')}}</strong>
              <a href="{{ p.url }}">
                {{ p.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
      {% endif %}
			{{ page.content }}
      {% if page.collection('subpages') | length %}
        <strong>
        {% if grav.language.getActive == 'nl' %}
          Lees meer over:
        {% else %}
          Read more about:
        {% endif %}
        </strong>
        {% for p in page.collection('subpages') %}
            <a href="{{ p.url }}">
              <div style="display: inline-block; padding-left: 5px; padding-right: 5px; margin-left: 10px; margin-right: 10px; background:rgba(255,255,255,0.5);">
                {{ p.title }}
              </div>
            </a>
        {% endfor %}
      {% endif %}
		</div>
	</div>

</div>
